.product {
    width: 374px;
    height: 400px;
    font-size: 12px;
    line-height: 15px;
    position: relative;
}
.mainText {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.oldPrise {
    color: #BDBDBD;
    text-decoration-line: line-through;
    margin-left: 10px;
}
.conteinerButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.description {
    font-size: 12px;
    line-height: 15px;
}

.conteinerSaleHeart{
    display: flex;
    position: absolute;
    top: 10px;
    left: 310px;
    flex-direction: column;
}
.sale {
    width: 50px;
    height: 50px;
    background: #ED5952;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.selaText {
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}