.Blog {
    width: 310px;
    /* left: 106px; */
    background: #FFFFFF;
    border-radius: 5px;
    position: relative;
    /* display: flex;
    flex-direction: column; */
}
.blogImgage {
    width: 310px;
    height: 280px;
    border-radius: 5px 5px 0px 0px;
}
.dateOfBlog {
    font-family: 'Lora';
    font-size: 12px;
    line-height: 15px;
    color: #6C757D;
    margin: 20px 0px 15px;
    padding: 0px 20px;
}
.category {
    position: absolute;
    top: 10px;
    left: 220px;
}
.category {
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: #FFFFFF;
    padding: 5px 10px;
}
.title {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #495057;
    margin-bottom: 15px;
    height: 70px;
    padding: 0px 20px;
}
.description {
    font-family: 'Lora';
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
    height: 230px;
    padding: 0px 20px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.personeConteiner {
    border-top: 0.5px solid #E5E5E5;
    transform: rotate(-0.04deg);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 17px;

}
.personeName {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #495057;
}
.personeName .position {
    color: #6C757D;
    font-weight: 400;
}