* {
    font-family: 'Inter';
}

.itemText {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.itemText:hover {
    color: red;
    cursor: pointer;
}

.input {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 40px;
    width: 756px;
    height: 42px;
    padding: 11px 24px;
    box-sizing: border-box;
}
form {
    position: relative;
}
.addTaskBtn {
    /* background: #3056D3; */
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #3056D3 ;
    position:absolute;
    right: 48px;
    top: 10px;
}
.itemToDo {
    width: 756px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 6px;
    position: relative;
    padding: 20px 27px;
    display: flex;
    box-sizing: border-box;
    gap: 12px;
    
}
.removeTaskBtn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #3056D3 ;
    position: absolute;
    right: 26px;
    top: 20px;
}
.taskCheckbox {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    background: #F1F4FF;
    border: 1px solid #3056D3;
    border-radius: 4px;
}